body {
  font: 14px "Outfit", sans-serif;
  font-size: 1rem;
}

h1 {
  font: 26px "Roboto", sans-serif;
}

nav {
  position: fixed;
  z-index: 1030;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
}

.nav-top {
  right: 0;
  left: 0;
}

.nav-link {
  padding-right: 0.5rem;
  text-decoration: none;
  color: black;
}

.nav-link:hover, .nav-link:focus {
  color: #4D9639;
}

.nav ul {
  display: flex;
}

.nav ul li {
  display: inline-block;
}

nav ul li:first-child {
  margin-right: auto;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@media only screen and (orientation: portrait) {
  .nav-top {
    bottom: 0;
  }
}

@media only screen and (orientation: landscape) {
  body {
    padding-top: 70px;
  }

  .nav-top {
    top: 0;
  }
}