* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.hr {
  width: 70%;
  margin-bottom: 20px;
  border-width: 2px;
  border-style: solid;
  background: linear-gradient(white, white) padding-box,
            radial-gradient(green, #EEEEEE) border-box;
  border-radius: 50em;
  border: 2px solid transparent;
}

a {
  color: darkgreen;
}

/*Navbar Style*/

.navbar {
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.9rem;
  font-weight: lighter;
  position: sticky;
  z-index: 999;
  background: white;
}

.navbar_container {
  display: flex;
  justify-content: space-between;
  height: 80px;
  z-index: 1;
  width: 50%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 50px;
}

#navbar_logo {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.navbar_menu {
  display: flex;
  align-items: center;
  list-style: none;
  text-align: center;
}

.navbar_item {
  height: 80px;
}

.navbar_links {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  padding: 0 1rem;
  height: 100%;
  color: black;
  position: relative;
}

.navbar_links:hover {
  color: #B4CFAC;
  transition: all 0.3s ease;
}

.navbar_links::after {
  content: '';
  /*height: 2px;*/
  width: 90%;
  border-width: 1px;
  border-style: solid;
  background: linear-gradient(white, white) padding-box,
  radial-gradient(green, #EEEEEE) border-box;
  border: 1px solid transparent;
  position: absolute;
  bottom: 20px;
  opacity: 0;
  transition: all;
  pointer-events: none;
}

.navbar_links:hover::after {
  opacity: 1;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #EEEEEE;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* Footer */

.footerContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background: darkgreen;
  background: linear-gradient(white ,#A9C8A0);
}
.footerText {
  padding: 20px;
}
.footerSocial {
  display: flex;
  flex-direction: column;
  margin-bottom: 0px;
}
.social {
  list-style: none;
  display: flex;
  margin: 1rem 0 3rem 0;
  align-items: center;
  justify-content: center;
}

.social li {
  margin: 0 10px;
}

.social img {
  width: 30px;
  height: auto;
}

.badge {
  display: flex;
  align-items:center;
  
}

.footerBottom {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Outfit';
  font-size: 20px;
  width: 100%;
  background: darkslategrey;
  color: white;
  height: 40px;
}

/*  R E S P O N S I V E  */ 

@media only screen and (orientation: portrait) {
  .navbar {
    bottom: 0;
  }
}

@media only screen and (orientation: landscape) {
  .navbar {
    top: 0;
  }
}

@media screen and (max-width: 960px) {
  .navbar {
      display: block;
  }
  .navbar_container {
      display: flex;
      justify-content: space-between;
      height: 80px;
      z-index: 1;
      width: 100%;
      max-width: 1300px;
      padding: 0;
  }
  .navbar_menu {
      display: grid;
      grid-template-columns: auto;
      margin: 0;
      width: 100%;
      position: absolute;
      top: -1000px;
      opacity: 1;
      transition: all 0.5s ease;
      height: 50vh;
      z-index: -1;
      
  }
  .navbar_menu.active {
      background:#EEEEEE;
      top: 100%;
      opacity: 1;
      transition: all 0.5s ease;
      z-index: 99;
      height: 50vh;
      font-size: 1rem;
  }
  #navbar_logo {
      padding-left: 25px;

  }
  .navbar_toggle .bar {
      width: 25px;
      height: 3px;
      margin: 5px auto;
      transition: all 0.3s ease-in-out;
      background: green;
  }
  .navbar_item {
      width: 100%;
  }
  .navbar_links {
      text-align: center;
      padding: 2rem;
      width: 100%;
      display: table;
  }
  #mobile-menu {
      position: absolute;
      top: 20%;
      right: 5%;
      transform: translate(5%, 20%);
  }
  .navbar_toggle .bar {
      display: block;
      cursor: pointer;
  }
  #mobile-menu.is-active .bar:nth-child(2) {
      opacity: 0;
  }
  #mobile-menu.is-active .bar:nth-child(1) {
      transform: translateY(8px) rotate(45deg);
  }
  #mobile-menu.is-active .bar:nth-child(3) {
      transform: translateY(-8px) rotate(-45deg);
  }

  .ciljeviContainerColumn > * {
    width: calc(100% / 3);
  }
}
