

.hr {
  width: 70%;
  margin-bottom: 20px;
  border-width: 2px;
  border-style: solid;
  background: linear-gradient(white, white) padding-box,
            radial-gradient(green, #EEEEEE) border-box;
  border-radius: 50em;
  border: 2px solid transparent;
}

/* Img Slider */

.sliderMainContainer {
  display: flex;
  justify-content: space-around;
  background: #EEEEEE;
}

.sliderContainer {
  width: 70%;
  overflow: hidden;
  position: relative;
}

.slider {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slider img {
  width: 100%;
  height: auto;
  z-index: 1;
  display: block;
  clip-path: polygon(100% 0%, 70% 100%, 0% 100%, 0% 0%);
}

.sliderTextContainer {
  display: flex;
  width: 50%;
  padding: 20px;
  box-sizing: border-box;
  justify-content: left;
  align-items: center;
  font-size: 1.5rem;
}

.sliderTextContainer h1 {
  font-weight: bold;
  font-family: 'Outfit';
}

.rightArrow {
  z-index: 2;
  color: green;
  position: absolute;
  bottom: 0;
  right: 10%;
  cursor: pointer;
}

.leftArrow {
  z-index: 2;
  color: green;
  position: absolute;
  bottom: 0;
  right: 15%;
  cursor: pointer;
}

.oranges h1 {
  font-family: 'Outfit';
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 5px 2px;
  background-color: #D2E8FF;
  border-radius: 50%;
  display: inline-block;
  transition: background-color .6s ease;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* Why Greenes */

.whyGreenesContainer {
  display: flex;
  justify-content: space-around;
  background: #EEEEEE;
  align-items: center;
}

.whyGreenesImageContainer {
  width: 50%;
  overflow: hidden;
  position: relative;
}

.whyGreenesImage {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.whyGreenesImage img {
  width: 100%;
  height: auto;
  z-index: 1;
  display: block;
}

.whyGreenesTextContainer {
  display: flex;
  flex-direction: column;
  width: 50%;
  box-sizing: border-box;
  justify-content: left;
  align-items: center;
  font-size: 1.5rem;
}

.whyGreenesTextContainer h1 {
  font-family: 'Outfit';
  padding: 5px;
}

.whyGreenesTextContainer h3 {
  font-size: 1.5rem;
  font-family: 'Roboto';
  font-weight: 100;
  text-align: center;
  display: flex;
}

.whyGreenesBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  width: 100%;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding: 20px 20px;
  height: 100%;
  width: 50%;
  border: none;
  outline: none;
  border-radius: 30px;
  background: linear-gradient(to right, #EEEEEE, green, green, #EEEEEE);
  color: white;
  font-family: 'Outfit';
}

.button:hover {
  background: green;
}

/* Ciljevi */

.ciljeviContainer {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.ciljeviTitleContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.ciljeviTitleContainer h1 {
  font-family: 'Outfit';
}

.ciljeviContainerColumn {
  display: flex;
  width: 80%;
  flex-wrap: wrap;
}

.ciljeviContainerColumn > * {
  width: calc(100% / 3);
}

.ciljevi {
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: justify;
}

.ciljevi img {
  fill: green;
}

.ciljevi h3 {
  padding: 30px;
}

/* Obnovljivi izvori */

.obnovljiviIzvoriContainer {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.obnovljiviIzvoriTitleContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.obnovljiviIzvoriTitleContainer h1 {
  font-family: 'Outfit';
}

.obnovljiviIzvoriImageContainerColumn {
  display: flex;
  width: 80%;
  flex-wrap: wrap;
}

.obnovljiviIzvoriImageContainerColumn{
  align-items: center;
  justify-content: center;
  padding: 2%;
}

.obnovljiviIzvoriItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: justify;
  /*clip-path: polygon(70% 0%, 70% 100%, 30% 100%, 30% 0%);*/
  flex: 0 1 200px;
  height: 400px;
  margin: 0 2px;
  overflow: hidden;
  transition: flex 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.obnovljiviIzvoriItem img {
  width: 400px;
  height: 100%;
  /* object-fit: contain; */
  /* transform: scale(2); */
}

.obnovljiviIzvoriItem:hover {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: justify;

}

.obnovljiviIzvoriItem h4 {
  margin-top: 20px;
}