

.hr {
  width: 70%;
  margin-bottom: 20px;
  border-width: 2px;
  border-style: solid;
  background: linear-gradient(white, white) padding-box,
            radial-gradient(green, #EEEEEE) border-box;
  border-radius: 50em;
  border: 2px solid transparent;
}

/* Img Slider */

.sliderMainContainer {
  display: flex;
  justify-content: space-around;
  background: #EEEEEE;
}

.sliderContainer {
  width: 70%;
  overflow: hidden;
  position: relative;
}

.slider {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slider img {
  width: 100%;
  height: auto;
  /* z-index: 1; */
  display: block;
  clip-path: polygon(100% 0%, 70% 100%, 0% 100%, 0% 0%);
}

.sliderTextContainer {
  display: flex;
  width: 50%;
  padding: 20px;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  font-size: 1.7vw;
}

.sliderTextContainer h1 {
  font-weight: bold;
  font-family: 'Outfit';
}

.rightArrow {
  /* z-index: 2; */
  color: green;
  position: absolute;
  bottom: 0;
  right: 10%;
  cursor: pointer;
}

.leftArrow {
  /* z-index: 2; */
  color: green;
  position: absolute;
  bottom: 0;
  right: 15%;
  cursor: pointer;
}

.oranges h1 {
  font-family: 'Outfit';
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
  font-size: 1.9vw;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 5px 2px;
  background-color: #D2E8FF;
  border-radius: 50%;
  display: inline-block;
  transition: background-color .6s ease;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* Why Greenes */

.whyGreenesContainer {
  display: flex;
  justify-content: space-around;
  background: #EEEEEE;
  align-items: center;
 width: 100%;
}

.whyGreenesImageContainer {
  width: 100%;
  overflow: hidden;
  position: relative;
  margin-right: 0px;
}

.whyGreenesImage {
  display: flex;
  transition: transform 0.5s ease-in-out;
  
}

.whyGreenesImage img {
  width: 100%;
  height: auto;
  /* z-index: 1; */
  display: block;
  
}

.whyGreenesTextContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 800px;
  box-sizing: border-box;
  justify-content: left;
  align-items: center;
  font-size: 1.5vw;
}

.whyGreenesTextContainer h1 {
  font-family: 'Outfit';
  padding: 5px;
  font-size: 2.5vw;
}

.whyGreenesTextContainer h3 {
  font-size: 1.5vw;
  font-family: 'Roboto';
  font-weight: 100;
  text-align: justify;
  display: flex;
  padding: 20px;
}

.whyGreenesBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding: 20px 20px;
  height: 100%;
  width: 50%;
  border: none;
  outline: none;
  border-radius: 30px;
  background: linear-gradient(to right, #EEEEEE, green, green, #EEEEEE);
  color: white;
  font-family: 'Outfit';
  font-size: 1.5vw;
}

.button:hover {
  background: green;
}

/* Ciljevi */

.ciljeviContainer {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.ciljeviTitleContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}

.ciljeviTitleContainer h1 {
  font-family: 'Outfit';
  font-size: 2.5vw;
}

.ciljeviContainerColumn {
  display: flex;
  width: 80%;
  flex-wrap: wrap;
}

.ciljeviContainerColumn > * {
  width: calc(100% / 3);
}

.ciljevi {
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: justify;
  font-size: 1.2vw;
}

.ciljevi img {
  fill: green;
}

.ciljevi h3 {
  padding: 30px;
  font-size: 1.5vw;
}

/* Obnovljivi izvori */

.obnovljiviIzvoriContainer {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  z-index: 1;
}

.obnovljiviIzvoriTitleContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.obnovljiviIzvoriTitleContainer h1 {
  font-family: 'Outfit';
  font-size: 2.5vw;
}

.obnovljiviIzvoriImageContainerColumn {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 2%;
}

.obnovljiviIzvoriItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  position: relative;
  /* clip-path: polygon(70% 0%, 70% 100%, 30% 100%, 30% 0%); */
  /* flex: 0 1 200px; */
  /* height: 400px; */
  margin: 0 2px;
  overflow: hidden;
  /* transition: flex 1s cubic-bezier(0.075, 0.82, 0.165, 1); */
  transition: width 0.5s;
}

.obnovljiviIzvoriItem p {
  display: none;
  width: 350px;
  position: absolute;
  bottom: 10%;
  align-items: center;
  justify-content: center;
}

.obnovljiviIzvoriItem:hover p {
  display: flex;
  text-align: justify;
  width: 350px;
  padding: 20px;
 
}

.obnovljiviIzvoriItem:hover {
  width: 400px;
}
.obnovljiviIzvoriItem:hover img {
  opacity: 20%;
}

.obnovljiviIzvoriItem h4 {
  margin-top: 20px;
  align-items: center;
  justify-content: center;
  display: flex;
}

/* Nasi Partneri */
.nasiPartneriContainer {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.titleContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.titleContainer h1 {
  font-family: 'Outfit';
  font-size: 2.5vw;
}

.nasiPartneriSlider {
  display: flex;
  padding: 50px;
}

.nasiPartneriSlider img {
  padding: 20px;
  filter: grayscale(100%); 
}

.nasiPartneriSlider img:hover {
  filter: grayscale(0%);
  cursor: pointer;
}

/* R E S P O N S I V E */

@media screen and (max-width: 960px) {
  .sliderMainContainer {
    flex-direction: column;
  }

  .sliderContainer {
    width: 100%;
  }

  .slider img {
    width: 100%;
    height: auto;
    /* z-index: 1; */
    display: block;
    clip-path: polygon(100% 0%, 100% 100%, 0% 100%, 0% 0%);
  }
  
  .sliderTextContainer {
    display: flex;
    width: 50%;
    padding: 20px;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
  }
  
  .sliderTextContainer h1 {
    font-weight: bold;
    font-family: 'Outfit';
  }

  .rightArrow {
    /* z-index: 2; */
    color: white;
    position: absolute;
    bottom: 0;
    right: 10%;
    cursor: pointer;
  }
  
  .leftArrow {
    /* z-index: 2; */
    color: white;
    position: absolute;
    bottom: 0;
    right: 15%;
    cursor: pointer;
  }

  .sliderTextContainer {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
  }
.oranges h1 {
  text-align: center;
  font-size: 1.5rem;
}

.whyGreenesContainer {
  display: flex;
  flex-direction: column;
}


.ciljeviContainerColumn { 
  display: flex;
  flex-direction: column;
  width: 100%;
}

.ciljeviContainerColumn > * {
  width: 100%;
}

.nasiPartneriSlider {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.whyGreenesTextContainer {
  font-size: 1rem;
  margin-top: 10px;
}

.whyGreenesTextContainer h3 {
  font-size: 1rem;
 
}

.obnovljiviIzvoriTitleContainer h1 {
  font-size: 1.5rem;
}

.obnovljiviIzvoriItem {
  width: 400px;
}

}